//========================================================
//                    Pagination
//=========================================================
.pagination {
  display: block;
  //text-align: center;
  margin-top: 70px;
  margin-bottom: 150px;
  .pag {
    display: inline-block;
    @include clearfix;
    li {
      display: inline-block;
      float: left;
      > a {
        color: $success-color;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        background: lighten(desaturate(adjust-hue($default, -217.2414), 22.1374), 66.0784);
        //border: 2px solid lighten(desaturate(adjust-hue($secondary, 1.8375), 43.9453), 43.9216);
        line-height: 28px;
        text-decoration: underline;
        @include border-radius(4px);
        //@include box-shadow(0px 2px 3px 0px lighten(saturate(adjust-hue(#818181, 204.0000), 4.8544), 29.2157));
      }
      &.active {
        > a {
          //border: 2px solid transparent;
          background: $success-color;
          color: $white;
          font-weight: 700;
          text-decoration: none;
        }
        //&:hover{
        //  a{
        //    background: lighten(desaturate(adjust-hue($secondary, 1.8375), 43.9453), 43.9216);
        //    color: $black;
        //  }
        //}
      }
      &:hover {
        > a {
          //border: 2px solid transparent;
          background: $success-color;
          font-weight: 700;
          color: $white;
          text-decoration: none;
        }
      }
      & + li {
        margin-left: 8px;
      }
      .first, .last, .next, .prew {
        position: relative;
        background: $danger-color;
        border: 2px solid $danger-color;
        &:before, &:after{
          position: absolute;
          color: $white;
          font: 400 14px/22px $fa;
        }
      }
      //<<
      .first{
        &:before{
          content: '\f053';
          left: 1px;

        }
        &:after{
          content: '\f053';
          right: 1px;
        }
      }
      //>>
      .last{
        &:before{
          content: '\f054';
          right: 0;

        }
        &:after{
          content: '\f054';
          left: 2px;
        }
      }

      //<
      .next{
        &:before{
          content: '\f053';
          left: 50%;
          transform: translateX(-50%);
        }
      }
      //>
      .prew{
        &:before{
          content: '\f054';
          left: 50%;
          transform: translateX(-50%);
        }
      }


    }
    .dotet {
      position: relative;
      top: 0;
    }
  }
}

@media(max-width: 479px) {
  .pagination {
    display: block;
    text-align: center;
    .pag {
      display: inline-block;
    }
  }
}

