<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-5">
                    <div class="brand">
                        <a href="" class="brand-logo">
                            Неизвестная хрень
                            <span>И самый крутой дискриптор в мире</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-5">
                    <div class="flex-link-list flex-container">
                        <ul class="footer-nav">
                            <li class="flex-item"><a href="/">Главная</a></li>
                            <li class="flex-item"><a href="questions-and-answers.html">Вопрос-ответ</a></li>
                            <li class="flex-item"><a href="knowledge-base.html">База знаний</a></li>
                            <li class="flex-item"><a href="map.html">Карта</a></li>
                            <li class="flex-item"><a href="contacts.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-5">
                    <div class="copyrate">
                        <span>&#169 2009 - </span>
                        <span class="copyright-year"></span>
                        <span>Aleba</span>
                        <!--<div class="pravo offs1">Все права защищены</div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>