<header>
    <section>
        <div class="container">


            <div class="brand">
                <a href="" class="brand-logo">
                    Неизвестная хрень
                    <span>И самый крутой дискриптор в мире</span>
                </a>
            </div>

            <nav class="main-navigation">
                <ul class="main-navigation-list inline-list">
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="questions-and-answers.html">Вопрос-ответ</a></li>
                    <li><a href="knowledge-base.html">База знаний</a></li>
                    <li><a href="map.html">Карта</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>

            <div class="btn-group-wrap">
                <div class="btn-group">
                    <a href="" class="flex-item btn1 btn-style1 btn-effect1">Заказать обратный звонок</a>
                    <a href="" class="flex-item btn1 btn-style2 btn-effect1 signin"><span>Вход</span></a>
                    <a href=""
                       class="flex-item btn1 btn-style2 btn-effect1 registration"><span>Регистрация</span></a>
                </div>
            </div>
        </div>
    </section>
</header>