<div class="rd-navbar-wrap hidden-md hidden-lg">
    <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
            <!-- RD Navbar Panel -->
            <div class="rd-navbar-panel">
                <div class="rd-navbar-panel-canvas"></div>

                <!-- RD Navbar Toggle -->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span>
                </button>
                <!-- END RD Navbar Toggle -->

                <!-- RD Navbar Brand -->
                <div class="rd-navbar-brand">
                    <!--<img src="images/logo.png" alt="" class="brand">-->
                    <a href="index.html" class="brand-name">GoCredit</a>
                </div>
                <!-- END RD Navbar Brand -->

                <!-- RD Navbar Collapse Toggle -->
                <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse">
                    <span></span>
                </button>
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav -->
                    <ul class="rd-navbar-nav" data-type="navbar">
                        <li><a href="">Главная</a></li>
                        <li><a href="">Вопрос-ответ</a></li>
                        <li><a href="">База знаний</a></li>
                        <li><a href="">Карта</a></li>
                        <li><a href="">Контакты</a></li>
                        <li style="margin: 20px auto; padding: 0 20px;">
                            <a href="tel:#"class="btn1 btn-style1 btn-effect1">Заказать обратный звонок</a>
                        </li>
                        <li style="margin: 20px auto; padding: 0 20px;">
                            <a href="" class="btn1 btn-style2 btn-effect1 signin"><span>Вход</span></a>
                        </li>
                        <li style="margin: 20px auto; padding: 0 20px;">
                            <a href="" class="btn1 btn-style2 btn-effect1 registration"><span>Регистрация</span></a>
                        </li>
                    </ul>
                    <!-- END RD Navbar Nav -->
                </div>
                <!--END RD Navbar Collapse Toggle -->
            </div>
        </div>
    </nav>
</div>